.ToolBar {
    height: 45px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #304269;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
}
.ToolBar .nav {
    height: 100%;
}

.sideDrawerButton {
    background-color: #304269;
    border-color: #304269;
    border-style: solid;
}

@media (max-width: 800px) {
    .desktopOnly {
        display: none;
    }
}

@media (min-width: 800px) {
    .sideDrawerButton {
        display: none;
    }
}