.SideDrawer {
    height: 100%;
    width: 200px;
    max-width: 70%;
    position: fixed;
    left: 0;
    top: 45px;
    z-index: 200;
    background-color: #304269;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 800px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}